html, body {
    width: 100%;
    height: 100%;
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

nav.navbar-default {
    border: none;
}

nav.navbar-default :not(.active) > a {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

nav.navbar-default :not(.active) > a:hover,
nav.navbar-default :not(.active) > a:focus {
    text-shadow: 0 0 1em RGBA(255, 255, 255, .7);
    transition: text-shadow .3s;
    -webkit-transition: text-shadow .3s;
    -moz-transition: text-shadow .3s;
}

.navbar-brand {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
}

.navbar-brand.transparent {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
}

h1, .h1, h2, .h2, h3, .h3 {
    text-transform: uppercase;
}

p {
    font-size: 1.4em;
    text-align: justify;
}

.portfolio-item {
    margin-bottom: 15px;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

img.portrait {
    max-width: 300px;
}

img.logo {
    max-width: 400px;
}

#intro {
    min-height: 100%;
    padding-top: 130px;
}

section {
    padding: 70px 0;
    background-color: #fff;
}

section.colored {
    background-color: #fff8b2;
}

section hr.star {
    max-width: 250px;
    border-color: #334d5c;
    border-width: 5px;
    margin-bottom: 30px;
    color: currentColor;
}

section hr.star:after {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: -.8em;
    padding: 0 10px;
    background-color: #fff;
}

section.colored hr.star:after {
    background-color: #fff8b2;
}

footer {
    height: 200px;
    padding-top: 30px;
    color: #fff;
    background-color: #334D5C;
}

footer a {
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

footer a:hover, footer a:focus, footer a:active {
    color: #fff;
    outline: none;
    text-shadow: 0 0 .5em RGBA(255, 255, 255, .7);
    transition: text-shadow .3s;
    -webkit-transition: text-shadow .3s;
    -moz-transition: text-shadow .3s;
}
