html, body {
    width: 100%;
    height: 100%;
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

nav.navbar-default, nav.navbar-inverse {
    border: none;
}

nav.navbar-default a:hover,
nav.navbar-default a:focus {
    text-shadow: 0 0 1px RGBA(51, 51, 51, .6);
}

nav.navbar-inverse a:hover,
nav.navbar-inverse a:focus {
    text-shadow: 0 0 1px RGBA(255, 255, 255, .6);
}

h1, .h1, h2, .h2, h3, .h3 {
    text-transform: uppercase;
}

p {
    font-size: 1.4em;
    text-align: justify;
}

.project {
    margin-bottom: 15px;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

img.portrait {
    max-width: 300px;
}

img.logo {
    max-width: 400px;
}

#intro {
    min-height: 100%;
    padding-top: 130px;
}

section {
    padding: 70px 0;
}

section.inverse {
    color: #fff;
    background-color: #333;
}

hr.star {
    max-width: 250px;
    border-color: #333;
    border-width: 5px;
    margin-bottom: 30px;
}

.inverse hr.star {
    border-color: #fff;
}

hr.star:after {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: -.8em;
    padding: 0 10px;
    background-color: #fff;
}

.inverse hr.star:after {
    color: #fff;
    background-color: #333;
}

footer {
    height: 200px;
    padding-top: 30px;
}

footer a {
    color: #333;
    font-size: 4em;
    font-weight: 700;
}

footer a:hover, footer a:focus {
    color: #E74C3C;
}
