html, body {
    width: 100%;
    height: 100%;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar .navbar-brand {
    -webkit-transition: font-size .3s;
    -moz-transition: font-size .3s;
    -ms-transition: font-size .3s;
    -o-transition: font-size .3s;
    transition: font-size .3s;
}

@media (min-height: 700px) {
    .navbar.expanded {
        padding-top: 10px;
        padding-bottom: 10px;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar.expanded .navbar-brand {
        font-size: 1.5em;

        -webkit-transition: font-size .3s;
        -moz-transition: font-size .3s;
        -ms-transition: font-size .3s;
        -o-transition: font-size .3s;
        transition: font-size .3s;
    }
}

.navbar a:hover, .navbar a:focus, .navbar a:active {
    outline: none;
}

.navbar a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: currentColor;

    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.navbar a:hover:after, .navbar a:focus:after, .navbar a:active:after {
    width: 100%;

    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

#sections .active a {
    background-color: #fff;
}

#sections .colored.active a {
    background-color: #fff8b2;
}

.navbar-default {
    border: none;
}

h1, .h1, h2, .h2, h3, .h3 {
    text-transform: uppercase;
}

p {
    font-size: 1.4em;
    text-align: justify;
}

img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.portrait {
    margin-bottom: 30px;
}

.name {
    margin-top: 2000px;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.description {
    font-size: 1.25em;
    font-weight: 700;
}

@media (min-width: 480px) {
    .name {
        font-size: 3em;
    }

    .description {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    .name {
        font-size: 4em;
    }

    .description {
        font-size: 2em;
    }
}

section {
    padding: 80px 0 120px;
    background-color: #fff;
}

section:first-of-type {
    min-height: 100%;
}

@media (min-height: 400px) {
    section:first-of-type {
        padding-top: 20vh;
    }
}

section.colored {
    background-color: #fff8b2;
}

section hr.star {
    max-width: 250px;
    border-color: #334d5c;
    border-width: 5px;
    margin-bottom: 30px;
    color: currentColor;
}

section hr.star:after {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: -.8em;
    padding: 0 10px;
    background-color: #fff;
}

section.colored hr.star:after {
    background-color: #fff8b2;
}

.portfolio-item {
    margin-bottom: 15px;
}

footer {
    height: 200px;
    padding-top: 30px;
    color: #fff;
    background-color: #334D5C;
}

.btn {
    display: table;
    vertical-align: middle;
    font-size: 3em;
    color: currentColor;
    text-align: center;
    width: 1.1em;
    height: 1.1em;
    padding: 0;
    border: .05em solid currentColor;
    border-radius: 100%;
}

.btn:hover, .btn:focus, .btn:active {
    color: currentColor;
    outline: none;
}

.btn > i {
    display: table-cell;
    padding: 0;
}

.btn-social > i {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.btn-social:hover > i, .btn-social:focus > i, .btn-social:active > i {
    -webkit-transform: scale(1.2) rotate(360deg);
    -moz-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg);

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

i.fa-linkedin, i.fa-stack-overflow {
    padding-top: .35em;
    font-size: .6em;
}
